<ul class="nav nav-tabs">
    <li><a routerLink="/admin" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/signup" routerLinkActive="active">Add User</a></li>
    <li><a routerLink="/leave" routerLinkActive="active">Apply Leave</a></li>
    <li class="active"><a routerLink="/edit" routerLinkActive="active">Edit User</a></li>
</ul>
<br>
<div>
    <div class="panel panel-primary">
        <div class="panel-heading">Welcome to Employees List of Copart</div>
        <div class="panel-body table-responsive mytable">
            <table class="table table-striped" id="mytable">
                <thead>
                    <tr>
                        <th>Sno</th>
                        <th style="table-layout:fixed;width:13%;"><input class="form-control" type="search" [(ngModel)]="userFilter.empCode" placeholder="Employee Code"></th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Resource Manager Id</th>
                        <th>Onsite Manager Name</th>
                        <th>Director</th>
                        <th>Phone</th>
                        <th>Department</th>
                        <th>User Role</th>
                        <th>Edit/Save/Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employees of employee | filterBy: userFilter;let i = index;">
                        <td>{{i+1}}</td>
                        <td>
                            <span *ngIf="editedIndex !== i">{{employees.empCode}}</span>
                            <input type="text" [(ngModel)]="employees.empCode" value={{employees.empCode}} *ngIf="editedIndex===i"></td>
                        <td>
                            <span *ngIf="editedIndex !== i">{{employees.firstName}}</span>
                            <input type="text" [(ngModel)]="employees.firstName" value={{employees.firstName}} *ngIf="editedIndex === i"></td>
                        <td>
                            <span *ngIf="editedIndex !== i">{{employees.middleName}}</span>
                            <input type="text" [(ngModel)]="employees.middleName" value={{employees.middleName}} *ngIf="editedIndex===i"></td>
                        <td>
                            <span *ngIf="editedIndex !== i">{{employees.lastName}}</span>
                            <input type="text" [(ngModel)]="employees.lastName" value={{employees.lastName}} *ngIf="editedIndex===i"></td>
                        <td>
                            <span *ngIf="editedIndex !== i">{{employees.email}}</span>
                            <input type="text" [(ngModel)]="employees.email" value={{employees.email}} *ngIf="editedIndex===i"></td>
                        <td>
                            <span *ngIf="editedIndex !== i">{{employees.resourceManager}}</span>
                            <input type="text" [(ngModel)]="employees.resourceManager" value={{employees.resourceManager}} *ngIf="editedIndex===i"></td>
                        <td>
                            <span *ngIf="editedIndex !== i">{{employees.onsiteManager}}</span>
                            <input type="text" [(ngModel)]="employees.onsiteManager" value={{employees.onsiteManager}} *ngIf="editedIndex===i"></td>
                        <td>
                            <span *ngIf="editedIndex !== i">{{employees.director}}</span>
                            <input type="text" [(ngModel)]="employees.director" value={{employees.director}} *ngIf="editedIndex===i"></td>
                        <td>
                            <span *ngIf="editedIndex !== i">{{employees.phone}}</span>
                            <input type="text" [(ngModel)]="employees.phone" value={{employees.phone}} *ngIf="editedIndex===i"></td>
                        <td>
                            <span *ngIf="editedIndex !== i">{{employees.dept}}</span>
                            <input type="text" [(ngModel)]="employees.dept" value={{employees.dept}} *ngIf="editedIndex===i"></td>
                        <td>
                            <span *ngIf="editedIndex !== i">{{employees.userRole}}</span>
                            <input type="text" [(ngModel)]="employees.userRole" value={{employees.userRole}} *ngIf="editedIndex===i"></td>
                        <button *ngIf="Edit" (click)="edit(employees,i)" type="button" class="btn btn-default btn"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button *ngIf="editedIndex === i && Save" (click)="save(i)" type="submit" class="btn btn-default btn"><i class="glyphicon glyphicon-ok"></i></button>
                        <button (click)="delete(i)" type="submit" class="btn btn-default btn"><i class="glyphicon glyphicon-trash"></i></button>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Welcome to OnsiteManagers List of Copart <span><a data-toggle="modal" data-target="#addOnsiteManager" style="color:white"class="pull-right">Add New User</a></span></div>
                <div class="panel-body table-responsive mytable">
                    <table class="table table-striped" id="mytable">
                        <thead>
                            <tr>
                                <th>Sno</th>
                                <th>OnsiteManager Name</th>
                                <th>OnsiteManager Email</th>
                                <th>OnsiteManager Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let onsitelist of onsiteManagersList ;let i = index;">
                                <td>{{i+1}}</td>
                                <td><span *ngIf="onsEditedIndex !== i">{{onsitelist.firstName}}</span>
                                    <input type="text" [(ngModel)]="onsitelist.firstName" value={{onsitelist.firstName}} *ngIf="onsEditedIndex===i"></td>
                                <td><span *ngIf="onsEditedIndex !== i">{{onsitelist.empCode}}</span>
                                    <input type="text" [(ngModel)]="onsitelist.empCode" value={{onsitelist.empCode}} *ngIf="onsEditedIndex===i"></td>
                                <td><span *ngIf="onsEditedIndex !== i">{{onsitelist.dept}}</span>
                                    <input type="text" [(ngModel)]="onsitelist.dept" value={{onsitelist.dept}} *ngIf="onsEditedIndex===i"></td>
                                <button *ngIf="onsManagerEdit" (click)="onsiteManagerEdit(onsitelist,i)" type="button" class="btn btn-default btn"><i class="glyphicon glyphicon-pencil"></i></button>
                                <button *ngIf="onsEditedIndex === i && onsManagerSave" (click)="onsiteManagerSave(i)" type="submit" class="btn btn-default btn"><i class="glyphicon glyphicon-ok"></i></button>
                                <button (click)="onsiteManagerDelete(i)" type="submit" class="btn btn-default btn"><i class="glyphicon glyphicon-trash"></i></button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Welcome to Holidays List of Copart</div>
                <div class="panel-body table-responsive mytable">
                    <table class="table table-striped" id="mytable">
                        <thead>
                            <tr>
                                <th>Sno</th>
                                <th>Holiday Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let holidaylist of holidaysList ;let i = index;">
                                <td>{{i+1}}</td>
                                <td><span *ngIf="hDateEditedIndex !== i">{{holidaylist.holidayDate}}</span>
                                <input type="text" [(ngModel)]="holidaylist.holidayDate" value={{holidaylist.holidayDate}} *ngIf="hDateEditedIndex===i"></td>
                                <button *ngIf="hDateEdit" (click)="holidayDateEdit(holidaylist,i)" type="button" class="btn btn-default btn"><i class="glyphicon glyphicon-pencil"></i></button>
                                <button *ngIf="hDateEditedIndex === i && hDateSave" (click)="holidayDateSave(i)" type="submit" class="btn btn-default btn"><i class="glyphicon glyphicon-ok"></i></button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Welcome to Managers List of Copart <span><a data-toggle="modal" data-target="#addManager" style="color:white"class="pull-right">Add New User</a></span></div>
                <div class="panel-body table-responsive mytable">
                    <table class="table table-striped" id="mytable">
                        <thead>
                            <tr>
                                <th>Sno</th>
                                <th>Manager Emp Code</th>
                                <th>Manager Name</th>
                                <th>Manager Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let managerlist of managersList ;let i = index;">
                                <td>{{i+1}}</td>
                                <td><span *ngIf="managerEditedIndex !== i">{{managerlist.empCode}}</span>
                                    <input type="text" [(ngModel)]="managerlist.empCode" value={{managerlist.empCode}} *ngIf="managerEditedIndex===i"></td>
                                <td><span *ngIf="managerEditedIndex !== i">{{managerlist.firstName}}</span>
                                    <input type="text" [(ngModel)]="managerlist.firstName" value={{managerlist.firstName}} *ngIf="managerEditedIndex===i"></td>
                                <td><span *ngIf="managerEditedIndex !== i">{{managerlist.dept}}</span>
                                    <input type="text" [(ngModel)]="managerlist.dept" value={{managerlist.dept}} *ngIf="managerEditedIndex===i"></td>
                                <button *ngIf="managerEdit" (click)="managerListEdit(managerlist,i)" type="button" class="btn btn-default btn"><i class="glyphicon glyphicon-pencil"></i></button>
                                <button *ngIf="managerEditedIndex === i && managerSave" (click)="managerListSave(i)" type="submit" class="btn btn-default btn"><i class="glyphicon glyphicon-ok"></i></button>
                                <button (click)="managerDelete(i)" type="submit" class="btn btn-default btn"><i class="glyphicon glyphicon-trash"></i></button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <div class="modal fade" id="addOnsiteManager" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Onsite Manager</h4>
                </div>
                <div class="modal-body">
                    <form name="onsmanagerform" #onsmanagerForm="ngForm" (ngSubmit)="onsmanagerForm.valid && addNewOnsiteManager(onsmanagerForm.value,onsmanagerForm)"
                        novalidate>
                        <div class="form-group" [ngClass]="{ 'has-error': onsmanagerForm.submitted && !onsnameRef.valid }">
                            <label>Name</label>
                            <input type="text" #onsnameRef="ngModel" required class="form-control" name="onsiteManagerName" ngModel>
                            <span *ngIf="!onsnameRef.valid  && onsmanagerForm.submitted" class="help-block">
                                    Name is required
                                   </span>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': onsmanagerForm.submitted && !onsemailRef.valid }">
                            <label>Email</label>
                            <input type="text" #onsemailRef="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required class="form-control"
                                name="onsiteManagerEmail" ngModel>
                            <div *ngIf="onsemailRef.errors &&(onsemailRef.dirty)" class="alert alert-danger">
                                <div [hidden]="!onsemailRef.errors.required">
                                    please enter your email address
                                </div>
                                <div [hidden]="!onsemailRef.errors.pattern">
                                    please enter valid email with '@' and '.'
                                </div>
                            </div>
                            <span *ngIf=" !onsemailRef.valid && onsmanagerForm.submitted" class="help-block">
                                    Email is required
                                   </span>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': onsmanagerForm.submitted && !onsdept.valid }">
                            <label>Department</label>
                            <select name="onsiteManagerDept" ngModel class="form-control" required #onsdept="ngModel">
                                        <option value="" disabled>--select--</option>
                                            <option value="QA">QA</option>
                                            <option value="Dev">DEV</option>
                                            <option value="IT">IT</option>
                                            <option value="HRA/Admin">HRA/Admin</option>
                                            <option value="Director">Director</option>
                                         </select>
                            <span *ngIf="!onsdept.valid && onsmanagerForm.submitted" class="help-block">
                                     Please select department
                                   </span>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addManager" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Manager</h4>
                </div>
                <div class="modal-body">
                    <form name="managerform" #managerForm="ngForm" (ngSubmit)="managerForm.valid && addNewManager(managerForm.value,managerForm)"
                        novalidate>
                        <div class="form-group" [ngClass]="{ 'has-error': managerForm.submitted && !mangagerEmpRef.valid }">
                            <label>Emp Code</label>
                            <input type="text" #mangagerEmpRef="ngModel" required class="form-control" name="resourceManagerEmpCode" ngModel>
                            <span *ngIf="!mangagerEmpRef.valid  && managerForm.submitted" class="help-block">
                                    Emp code is required
                                   </span>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': managerForm.submitted && !managerNameRef.valid }">
                            <label>Name</label>
                            <input type="text" #managerNameRef="ngModel" required class="form-control" name="resourceManagerName" ngModel>
                            <span *ngIf=" !managerNameRef.valid && managerForm.submitted" class="help-block">
                                    Name is required
                                   </span>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': managerForm.submitted && !managerdept.valid }">
                            <label>Department</label>
                            <select name="resourceManagerDept" ngModel class="form-control" required #managerdept="ngModel">
                                        <option value="" disabled>--select--</option>
                                            <option value="QA">QA</option>
                                            <option value="Dev">DEV</option>
                                            <option value="IT">IT</option>
                                            <option value="HRA/Admin">HRA/Admin</option>
                                            <option value="Director">Director</option>
                                         </select>
                            <span *ngIf="!managerdept.valid && managerForm.submitted" class="help-block">
                                     Please select department
                                   </span>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>