<ul class="nav nav-tabs">
    <li><a routerLink="/admin" routerLinkActive="active">Dashboard</a></li>
    <li class="active"><a routerLink="/signup" routerLinkActive="active">Add User</a></li>
    <li><a routerLink="/leave" routerLinkActive="active">Apply Leave</a></li>
    <li><a routerLink="/edit" routerLinkActive="active">Edit User</a></li>
</ul>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Add New User Here </div>
                <div class="panel-body">
                    <form name="myform" #userForm="ngForm" (ngSubmit)="userForm.valid &&  onSubmit(userForm.value,userForm)" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" [ngClass]="{ 'has-error': userForm.submitted && !fnameRef.valid }">
                                    <label>First Name</label>
                                    <input type="text" #fnameRef="ngModel" required class="form-control" name="firstName" ngModel>
                                    <span *ngIf="!fnameRef.valid  && userForm.submitted" class="help-block">
                                    First Name is required
                                   </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input type="text" #middleRef="ngModel" class="form-control" name="middleName" ngModel>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" [ngClass]="{ 'has-error': userForm.submitted && !lnameRef.valid }">
                                    <label>Last Name</label>
                                    <input type="text" #lnameRef="ngModel" required class="form-control" name="lastName" ngModel>
                                    <span *ngIf=" !lnameRef.valid && userForm.submitted" class="help-block">
                                    Last Name is required
                                   </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" [ngClass]="{ 'has-error': userForm.submitted && !emailRef.valid }">
                                    <label>Email</label>
                                    <input type="text" #emailRef="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required class="form-control"
                                        name="email" ngModel>
                                    <div *ngIf="emailRef.errors &&(emailRef.dirty)" class="alert alert-danger">
                                        <div [hidden]="!emailRef.errors.required">
                                            please enter your email address
                                        </div>
                                        <div [hidden]="!emailRef.errors.pattern">
                                            please enter valid email with '@' and '.'
                                        </div>
                                    </div>
                                    <span *ngIf=" !emailRef.valid && userForm.submitted" class="help-block">
                                    Email is required
                                   </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" [ngClass]="{ 'has-error': userForm.submitted && !empRef.valid }">
                                    <label>Emp Code</label>
                                    <input type="text" #empRef="ngModel" pattern="^[0-9]{4}$" required class="form-control" name="empCode" ngModel>
                                    <div *ngIf="empRef.errors &&(empRef.dirty)" class="alert alert-danger">
                                        <div [hidden]="!empRef.errors.required">
                                            please enter your emp code
                                        </div>
                                        <div [hidden]="!empRef.errors.pattern">
                                            please enter empcode with starting number between 0 to 9 and max 4
                                        </div>
                                    </div>
                                    <span *ngIf="!empRef.valid && userForm.submitted" class="help-block">
                                    Emp Code is required
                                   </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" [ngClass]="{ 'has-error': userForm.submitted && !phoneRef.valid }">
                                    <label>Phone</label>
                                    <input #phoneRef="ngModel" type="text" pattern="^[0-9]{10}$" required class="form-control" name="phone" ngModel>
                                    <div *ngIf="phoneRef.errors &&(phoneRef.dirty)" class="alert alert-danger">
                                        <div [hidden]="!phoneRef.errors.required">
                                            please enter your phone number
                                        </div>
                                        <div [hidden]="!phoneRef.errors.pattern">
                                            please enter 10 digit phone number
                                        </div>
                                    </div>
                                    <span *ngIf="!phoneRef.valid && userForm.submitted" class="help-block">
                                Phone number is required
                                   </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" [ngClass]="{ 'has-error': userForm.submitted && !dirRef.valid }">
                                    <label>Director</label>
                                    <input type="text" #dirRef="ngModel" class="form-control" name="director" required ngModel>
                                    <span *ngIf="!dirRef.valid && userForm.submitted" class="help-block">
                                Director name is required
                                   </span>
                                </div>

                            </div>
                            <div class=col-sm-6>
                                <div class="form-group" [ngClass]="{ 'has-error': userForm.submitted && !userRole.valid }">
                                    <label>User Role</label>
                                    <select ngModel name="userRole" class="form-control" required #userRole="ngModel">
                                        <option value="" disabled>--select--</option>
                                <option value="2">HRA</option>
                                <option value="1">Manager</option>
                                <option value="0">Employee</option>
                                   </select>
                                    <span *ngIf="!userRole.valid && userForm.submitted" class="help-block">
                                     Please select user role
                                   </span>
                                </div>
                            </div>
                            <div *ngIf="showId" class="col-sm-6">
                                <div class="form-group" [ngClass]="{ 'has-error': userForm.submitted && !dept.valid }">
                                    <label>Department</label>
                                    <!--<input class="form-control" name="dept" required ngModel [(ngModel)]="selectedPerson.dept" readonly>-->
                                    <select name="dept" ngModel class="form-control" required #dept="ngModel" (change)="onChanged($event.target.value)">
                                        <option value="" disabled>--select--</option>
                                            <option value="QA">QA</option>
                                            <option value="Dev">DEV</option>
                                            <option value="IT">IT/INFRA</option>
                                            <option value="HRA/Admin">HRA/Admin</option>
                                            <option value="Director">Director</option>
                                         </select>
                                    <span *ngIf="!dept.valid && userForm.submitted" class="help-block">
                                     Please select department
                                   </span>
                                </div>
                            </div>
                            <div *ngIf="showId" class=col-sm-6>
                                <div class="form-group" [ngClass]="{ 'has-error': userForm.submitted && !resManager.valid }">
                                    <label>Resource Manager</label>
                                    <!-- <select name="resourceManager" ngModel class="form-control" required (change)="onChanged($event.target.value)">
                                            <option *ngFor="let p of managerslist" value={{p.empCode}}>{{p.firstName}}</option>
                                         </select>-->
                                    <select name="resourceManager" ngModel class="form-control" required #resManager="ngModel">
                                           <option value="" disabled>--select--</option>
                                           <option *ngFor="let p of managerslist" value="{{p.empCode}}">{{p.firstName}}</option>
                                         </select>
                                    <span *ngIf="!resManager.valid && userForm.submitted" class="help-block">
                                     Please select resource manager
                                   </span>
                                </div>
                            </div>
                            <div *ngIf="showId" class=col-sm-6>
                                <div class="form-group" [ngClass]="{ 'has-error': userForm.submitted && !onsManager.valid }">
                                    <label>Onsite Manager</label>
                                    <!--<select class="form-control" name="onsiteManager" required ngModel>
                                            <option *ngFor="let p of onsitemanagerslist" value={{p.empCode}}>{{p.firstName}}</option>
                                    </select>-->
                                    <select class="form-control" name="onsiteManager" required ngModel #onsManager="ngModel">
                                     <option value="" disabled>--select--</option>
                                     <option *ngFor="let p of obj" value="{{p}}">{{p}}</option>
                                    </select>
                                    <span *ngIf="!onsManager.valid && userForm.submitted" class="help-block">
                                     Please select onsite manager
                                   </span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>